// OFF-CANVAS
// ==========

@import '@janosfoldes/scss-utils/index';
@import 'foundation-sites/scss/util/util';

// Settings
//---------

$off-canvas-crop: (
    bottom: (x 0 0 0),
    left:   (0 x 0 0),
    right:  (0 0 0 x),
    top:    (0 0 x 0)
) !default;
$off-canvas-exit-background: rgba(#0a0a0a, .15) !default;
$off-canvas-offset: 4 !default;
$off-canvas-reveal-at: -1 !default;
$off-canvas-shadow: 0 0 2px rgba(#0a0a0a, .7) !default;
$off-canvas-sizes: (
    bottom: (none, rem-calc(256)),
    left:   (none, rem-calc(256)),
    right:  (none, rem-calc(256)),
    top:    (none, rem-calc(256))
) !default;
$off-canvas-transition-duration: .4s !default;
$off-canvas-transition-timing: ease !default;
$off-canvas-z-index: 98 !default;

// Off-Canvas
//-----------

.off-canvas {
    z-index: $off-canvas-z-index;

    @include breakpoint($off-canvas-reveal-at down) {
        box-shadow: $off-canvas-shadow;
        overflow-y: auto;
        position: fixed;
        transition: transform $off-canvas-transition-duration $off-canvas-transition-timing;

        // Disable Animation
        // -----------------

        &.no-anim {
            transition: none;
        }

        // Bottom Position
        // ---------------
        &.bottom {
            bottom: get-setting($off-canvas-crop, bottom, 3);
            max-height: get-setting($off-canvas-sizes, bottom, 2);
            min-height: get-setting($off-canvas-sizes, bottom, 1);
            left: get-setting($off-canvas-crop, bottom, 4);;
            right: get-setting($off-canvas-crop, bottom, 2);
            transform: translateY(rem-calc(get-setting($off-canvas-sizes, bottom, 2) + $off-canvas-offset));
            &.is-open {
                transform: translateY(0);
            }
        }

        // Left Position
        // -------------
        &.left {
            bottom: get-setting($off-canvas-crop, left, 3);
            height: 100vh;
            max-width: get-setting($off-canvas-sizes, left, 2);
            min-width: get-setting($off-canvas-sizes, left, 1);
            left: get-setting($off-canvas-crop, left, 4);
            top: get-setting($off-canvas-crop, left, 1);
            transform: translateX(-(rem-calc(get-setting($off-canvas-sizes, left, 2) + $off-canvas-offset)));
            &.is-open {
                transform: translateX(0);
            }
        }

        // Right Position
        // --------------
        &.right {
            bottom: get-setting($off-canvas-crop, right, 3);
            height: 100vh;
            max-width: get-setting($off-canvas-sizes, right, 2);
            min-width: get-setting($off-canvas-sizes, right, 1);
            right: get-setting($off-canvas-crop, right, 2);
            top: get-setting($off-canvas-crop, right, 1);
            transform: translateX(rem-calc(get-setting($off-canvas-sizes, right, 2) + $off-canvas-offset));
            &.is-open {
                transform: translateX(0);
            }
        }

        // Top Position
        // -------------
        &.top {
            max-height: get-setting($off-canvas-sizes, top, 2);
            min-height: get-setting($off-canvas-sizes, top, 1);
            left: get-setting($off-canvas-crop, top, 4);
            right: get-setting($off-canvas-crop, top, 2);
            top: get-setting($off-canvas-crop, top, 1);
            transform: translateY(-(rem-calc(get-setting($off-canvas-sizes, top, 2) + $off-canvas-offset)));
            &.is-open {
                transform: translateY(0);
            }
        }

    }

}

// Canvas Overlay
// --------------

.canvas-overlay {
    background: $off-canvas-exit-background;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity $off-canvas-transition-duration $off-canvas-transition-timing,
                visibility $off-canvas-transition-duration $off-canvas-transition-timing;
    visibility: hidden;
    width: 100%;
    z-index: $off-canvas-z-index - 1;

    // Overlay Visible
    //----------------
    &.is-visible {
        opacity: 1;
        visibility: visible;
    }
}